<div class="row">
    <div class="col-xs-12">
        <h2>Raid Readiness Tool</h2>
    </div>
</div>
<div class="vertical-space-30"></div>
<form id="form" role="form" method="post">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-6">
            <div class="form-group">
                <label for="guildUrl">Enter your guild's <a href="https://swgoh.gg/g">swgoh.gg</a> url:</label>
                <input type="text" id="guildUrl" name="guildUrl" placeholder="Ex: https://swgoh.gg/g/10149/gundam-wing" class="form-control" />
            </div>
            <div class="form-group text-right">
                <input type="submit" class="btn btn-primary" value="Scrape" />
            </div>
        </div>
    </div>    
</form>