
<style type="text/css">
    .set-option {
        height: 35px;
        margin: 0 10px;
    }
</style>

<div class="row">
    <div class="col">
        <h2>Mods</h2>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col">
        <h4>Filters:</h4>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-secondary">
                <input type="checkbox" autocomplete="off"> 
                <img class="set-option" src="~/Content/Images/health.png" />
            </label>
            <label class="btn btn-secondary">
                <input type="checkbox" autocomplete="off"> 
                <img class="set-option" src="~/Content/Images/speed.png" />
            </label>
            <label class="btn btn-secondary">
                <input type="checkbox" autocomplete="off"> 
                <img class="set-option" src="~/Content/Images/critical_damage.png" />
            </label>
            <label class="btn btn-secondary">
                <input type="checkbox" autocomplete="off"> 
                <img class="set-option" src="~/Content/Images/crit_chance.png" />
            </label>
            <label class="btn btn-secondary">
                <input type="checkbox" autocomplete="off"> 
                <img class="set-option" src="~/Content/Images/tenacity.png" />
            </label>
            <label class="btn btn-secondary">
                <input type="checkbox" autocomplete="off"> 
                <img class="set-option" src="~/Content/Images/potency.png" />
            </label>
            <label class="btn btn-secondary">
                <input type="checkbox" autocomplete="off"> 
                <img class="set-option" src="~/Content/Images/offense.png" />
            </label>
            <label class="btn btn-secondary">
                <input type="checkbox" autocomplete="off"> 
                <img class="set-option" src="~/Content/Images/defense.png" />
            </label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md">
        Square
    </div>
    <div class="col-md">
        Arrow
    </div>
    <div class="col-md">
        Diamond
    </div>
    <div class="col-md">
        Triangle
    </div>
    <div class="col-md">
        Circle
    </div>
    <div class="col-md">
        Cross
    </div>
</div>

<div class="row">
    <div class="col-md">

    </div>
    <div class="col-md">

    </div>
    <div class="col-md">

    </div>
    <div class="col-md">

    </div>
    <div class="col-md">

    </div>
    <div class="col-md">

    </div>
</div>