body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.vertical-space-30 {
    height: 30px;
}

.vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}

.has-error .form-control .k-dropdown-wrap {
    border-color: #a94442;
}

.has-error .form-control .k-numeric-wrap {
    border-color: #a94442;
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }    
}

.equal-column-heights {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

    .equal-column-heights > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }


/* ------------------------ */
/* Character Portrait Syles */
/* ------------------------ */
    .collection-char {
        position: relative;
        height: 160px;
        padding: 10px 0;
        overflow: hidden;
    }

    .collection-char .player-char-portrait {
        margin: 15px auto 10px auto;
        box-shadow: 0 0 1px 2px #111;
    }

    .char-portrait-full {
        position: relative;
        width: 80px;
        height: 80px;
        box-shadow: 0 0 0 2px #555555;
        border-radius: 50%;
    }

    .char-portrait-full-img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #000;
    }

    .char-portrait-full-gear-t1 .char-portrait-full-gear {
        background-image: url('../../Content/Images/gear-icon-g1.svg');
    }

    .char-portrait-full-gear-t2 .char-portrait-full-gear {
        background-image: url('../../Content/Images/gear-icon-g2.svg');
    }

    .char-portrait-full-gear-t3 .char-portrait-full-gear {
        background-image: url('../../Content/Images/gear-icon-g3.svg');
    }

    .char-portrait-full-gear-t4 .char-portrait-full-gear {
        background-image: url('../../Content/Images/gear-icon-g4.svg');
    }

    .char-portrait-full-gear-t5 .char-portrait-full-gear {
        background-image: url('../../Content/Images/gear-icon-g5.svg');
    }

    .char-portrait-full-gear-t6 .char-portrait-full-gear {
        background-image: url('../../Content/Images/gear-icon-g6.svg');
    }

    .char-portrait-full-gear-t7 .char-portrait-full-gear {
        background-image: url('../../Content/Images/gear-icon-g7.svg');
    }

    .char-portrait-full-gear-t8 .char-portrait-full-gear {
        background-image: url('../../Content/Images/gear-icon-g8.svg');
    }

    .char-portrait-full-gear-t9 .char-portrait-full-gear {
        background-image: url('../../Content/Images/gear-icon-g9.svg');
    }

    .char-portrait-full-gear-t10 .char-portrait-full-gear {
        background-image: url('../../Content/Images/gear-icon-g10.svg');
    }

    .char-portrait-full-gear-t11 .char-portrait-full-gear {
        background-image: url('../../Content/Images/gear-icon-g11.svg');
    }

    .char-portrait-full-gear {
        position: absolute;
        width: 80px;
        height: 80px;
        z-index: 2;
        top: 0;
        left: 0;
    }

    .star {
        position: absolute;
        bottom: 50%;
        left: 50%;
        width: 15px;
        height: 55px;
        color: #000;
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
        background: center 0 transparent url('../../Content/Images/star.png') no-repeat;
        background-size: 100%;
    }

    .star-inactive {
        background-image: url('Images/star-inactive.png');
    }

    .star1 {
        -webkit-transform: translateX(-50%) rotate(-60deg);
        transform: translateX(-50%) rotate(-60deg);
    }

    .star2 {
        -webkit-transform: translateX(-50%) rotate(-40deg);
        transform: translateX(-50%) rotate(-40deg);
    }

    .star3 {
        -webkit-transform: translateX(-50%) rotate(-20deg);
        transform: translateX(-50%) rotate(-20deg);
    }

    .star4 {
        -webkit-transform: translateX(-50%) rotate(0deg);
        transform: translateX(-50%) rotate(0deg);
    }

    .star5 {
        -webkit-transform: translateX(-50%) rotate(20deg);
        transform: translateX(-50%) rotate(20deg);
    }

    .star6 {
        -webkit-transform: translateX(-50%) rotate(40deg);
        transform: translateX(-50%) rotate(40deg);
    }

    .star7 {
        -webkit-transform: translateX(-50%) rotate(60deg);
        transform: translateX(-50%) rotate(60deg);
    }

    .char-portrait-full-level {
        position: absolute;
        bottom: -5px;
        left: 50%;
        z-index: 4;
        width: 30px;
        padding: 0 5px;
    }

    .char-portrait-full-gear-level,
    .char-portrait-full-level,
    .char-portrait-full-zetas {
        position: absolute;
        -webkit-transform: translate(-50%);
        transform: translate(-50%);
        color: #fff;
        font-weight: bold;
        background-color: #264257;
        border: 2px solid #fff;
        text-align: center;
        border-radius: 100%/130% 130% 15px 15px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
        text-shadow: -1px -1px 0 black,
                     2px -1px 0 black,
                     2px 2px 0 black,
                     -1px 2px 0 black,
                     2px 3px 0 black,
                     1px 3px 0 black,
                     2px 3px 0 black;
    }

    .char-portrait-full-gear-t1 .char-portrait-full-gear-level {
        background-color: #a5d0da;
    }

    .char-portrait-full-gear-t2 .char-portrait-full-gear-level {
        background-color: #98fd33;
    }

    .char-portrait-full-gear-t3 .char-portrait-full-gear-level {
        background-color: #98fd33;
    }

    .char-portrait-full-gear-t4 .char-portrait-full-gear-level {
        background-color: #00bdfe;
    }

    .char-portrait-full-gear-t5 .char-portrait-full-gear-level {
        background-color: #00bdfe;
    }

    .char-portrait-full-gear-t6 .char-portrait-full-gear-level {
        background-color: #00bdfe;
    }

    .char-portrait-full-gear-t7 .char-portrait-full-gear-level {
        background-color: #9241FF;
    }

    .char-portrait-full-gear-t8 .char-portrait-full-gear-level {
        background-color: #9241FF;
    }

    .char-portrait-full-gear-t9 .char-portrait-full-gear-level {
        background-color: #9241FF;
    }

    .char-portrait-full-gear-t10 .char-portrait-full-gear-level {
        background-color: #9241FF;
    }

    .char-portrait-full-gear-t11 .char-portrait-full-gear-level {
        background-color: #9241FF;
    }

    .char-portrait-full-zetas {
        background-color: #9241FF;
    }

    .char-portrait-full-gear-level {
        left: 80%;
        bottom: 0;
        font-size: 12px;
        min-width: 26px;
        padding: 0 6px 0 5px;
        z-index: 3;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5),
                    0 0 8px 1px rgba(0, 0, 0, 0.5) inset;
    }

    .char-portrait-full-zetas {
        left: 95%;
        bottom: 20%;
        font-size: 12px;
        min-width: 26px;
        padding: 0 3px 0 2px;
        z-index: 2;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5),
                    0 0 8px 1px rgba(0, 0, 0, 0.5) inset;
    }

    .collection-char-name {
        display: table;
        min-height: 30px;
        line-height: 1;
        text-align: center;
        font-weight: bold;
        width: 100%;
    }

    .collection-char-name-link {
        color: #333;
        display: table-cell;
        vertical-align: top;
    }

/* ------------------------------ */
/* END - Character Portrait Syles */
/* ------------------------------ */


/* ------------------------ */
/* Custom Bootstrap classes */
/* ------------------------ */

.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
    text-align: left;
}
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
    text-align: center;
}
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
    text-align: right;
}
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
    text-align: justify;
}

@media (max-width: 767px) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
        text-align: inherit;
    }
    .text-left-xs {
        text-align: left;
    }
    .text-center-xs {
        text-align: center;
    }
    .text-right-xs {
        text-align: right;
    }
    .text-justify-xs {
        text-align: justify;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
        text-align: inherit;
    }
    .text-left-sm {
        text-align: left;
    }
    .text-center-sm {
        text-align: center;
    }
    .text-right-sm {
        text-align: right;
    }
    .text-justify-sm {
        text-align: justify;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
        text-align: inherit;
    }
    .text-left-md {
        text-align: left;
    }
    .text-center-md {
        text-align: center;
    }
    .text-right-md {
        text-align: right;
    }
    .text-justify-md {
        text-align: justify;
    }
}
@media (min-width: 1200px) {
    .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
        text-align: inherit;
    }
    .text-left-lg {
        text-align: left;
    }
    .text-center-lg {
        text-align: center;
    }
    .text-right-lg {
        text-align: right;
    }
    .text-justify-lg {
        text-align: justify;
    }
}

/* ------------------------------ */
/* END - Custom Bootstrap Classes */
/* ------------------------------ */