
@using Newtonsoft.Json
@model Zelus.Web.Controllers.TerritoryWar.Models.StrategyViewModel

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Territory War Strategy</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form id="strategyForm" data-bind="submit: calculateStrategy">
                <div class="row">
                    <div class="col-md">
                        <div class="form-group">
                            <label for="strategyType">Strategy</label>
                            <select class="form-control" id="strategyType" aria-describedby="strategyHelp" required
                                    data-bind="options: availableStrategies,
                                               value: StrategyType,
                                               optionsValue: 'value',
                                               optionsText: 'strategyName' ,
                                               optionsCaption: 'Select a Strategy'"></select>
                            <small class="form-text text-muted" id="strategyHelp">If you are unsure about which strategy to select, ask an officer!</small>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="PlayerName">Username (for <a href="https://swgoh.gg">swgoh.gg</a>)</label>
                            @Html.EditorFor(m => m.PlayerName, new { htmlAttributes = new { @data_bind = "value: PlayerName", @aria_describedby = "PlayerNameHelp", @placeholder = "Enter Username" } })
                            <small class="form-text text-muted" id="PlayerNameHelp">After logging into <a href="https://swgoh.gg">swgoh.gg</a>, your username will appear after the "u" in the browser's URL bar.</small>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="d-none d-md-block" style="height: 32px;"></div>
                        <button type="submit" class="btn btn-primary" id="strategyFormSubmit"><i class="fas fa-globe"></i> Strategize</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="d-block d-md-none" style="height: 20px;"></div>
    <div id="strategyContainer" data-bind="visible: Strategy.IsVisible()">
        <div class="row">
            <div class="col">
                <h3>The Plan for <span data-bind="text: PlayerName()"></span></h3>
                <small class="text-muted">
                    The last time we sync'd your characters was
                    <abbr data-bind="text: Strategy.LastSyncHumanized(), attr: { title: Strategy.LastSyncDateTime() }"></abbr>
                </small>
            </div>
        </div>
        <div style="height: 30px;"></div>
        <div class="row">
            <div class="col">
                <p data-bind="visible: Strategy.NumberOfDefensiveTeams() > 0">
                    Based on your roster compared with the rest of your guild, we recommend setting at least
                    <strong data-bind="text: Strategy.NumberOfDefensiveTeams()"></strong> character squads.
                    Try to use as many characters from the below list as you can, while keeping synergies.
                </p>
                <p data-bind="visible: Strategy.NumberOfDefensiveTeams() == 0">
                    Save all of your character squads for offense!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <strong>Name</strong>
            </div>
            <div class="col-sm-2">
                <strong>Level</strong>
            </div>
            <div class="col-sm-2">
                <strong>Stars</strong>
            </div>
            <div class="col-sm-2">
                <strong>Gear</strong>
            </div>
            <div class="col-sm-2">
                <strong>Power</strong>
            </div>
        </div>
        <div id="characterContainer" data-bind="foreach: Strategy.TopCharacters">
            <div class="row">
                <div class="col">
                    <span data-bind="text: Name"></span>
                </div>
                <div class="col-sm-2">
                    <span data-bind="text: Level"></span>
                </div>
                <div class="col-sm-2">
                    <span data-bind="text: Stars"></span>
                </div>
                <div class="col-sm-2">
                    <span data-bind="text: Gear"></span>
                </div>
                <div class="col-sm-2">
                    <span data-bind="text: Power"></span>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Controllers/TerritoryWar/Scripts/strategyviewmodel.js"></script>
    <script type="text/javascript">
        var calculateStrategyUrl = '@Url.Action("CalculateStrategyForPlayer", "TerritoryWar")';
        var strategyViewModel = new StrategyViewModel(@Html.Raw(JsonConvert.SerializeObject(Model)));
        ko.applyBindings(strategyViewModel);
    </script>
}