@using Z.Core.Extensions
@model List<Zelus.Web.Models.LeaderboardVM>
    
<style type="text/css">
    .clickable-row {
        cursor: pointer;
    }
    .squad-rank {
        font-size: 18px;
    }
</style>
    
@section scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            $('.clickable-row').click(function() {
                window.location = $(this).data("href");
                return false;
            });
        });
    </script>
}

<div class="row">
    <div class="col-xs-10 vertical-center">
        <h2>Raid Damage Leaderboard</h2>
    </div><!--
    --><div class="col-xs-2 vertical-center">
        <a href="@Url.Action("Index", "Squad")" class="btn btn-primary"><i class="fa fa-users"></i> Submit a Squad</a>
    </div>
</div>

@foreach (var board in Model)
{
    @Html.Partial("_Leaderboard", board)
}