  
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#playerUsernameForm').validate();

            $('#playerUsernameSubmit').click(function () {
                if ($("#playerUsernameForm").valid()) {
                    $('#playerUsernameForm').submit();
                }
            });

            $('#playerUsernameForm').submit(function (e) {
                e.preventDefault();
                var form = $(this);
                var btn = $('#playerUsernameSubmit');
                var url = form.attr('action');
                var user = $('#playerUsername').val();

                btn.html('<i class="fa fa-refresh fa-spin"></i>');

                var posting = $.post(url, { playerUsername: user });

                posting.fail(function() {
                    toastr.error("Error contacting server...");
                    btn.addClass('btn-error');
                    btn.html('<i class="fa fa-times"></i>');
                });

                posting.done(function (data) {
                    if (data.Success) {
                        if (data.Messages.length > 0) {
                            toastr.warning(data.Messages[0]);
                            btn.addClass('btn-warning');
                            btn.html('<i class="fa fa-check"></i>');
                        } else {
                            toastr.success("Successfully sync'd data with swgoh.gg");
                            btn.addClass('btn-success');
                            btn.html('<i class="fa fa-check"></i>');
                        }
                        setTimeout(function() {
                            form.fadeOut(function () {

                            });
                        }, 1000);
                        $('#squadDetailContainer').load('@Url.Action("SquadDetail", "Squad")', { playerUsername: user }, function() {
                            $('#squadDetailContainer').fadeIn();
                        });
                    } else {
                        toastr.error(data.Messages[0]);
                        btn.addClass('btn-error');
                        btn.html('<i class="fa fa-times"></i>');
                        setTimeout(function() {
                            btn.removeClass('btn-error');
                            btn.html('Sync');
                        }, 3000);
                    }
                });
            });
        });
    </script>
}
    
<div class="row">
    <div class="col-xs-12">
        <h2>Create New Squad</h2>
    </div>
</div>
<div class="vertical-space-30"></div>
<form id="playerUsernameForm" role="form" action="@Url.Action("SyncPlayerData", "Squad")" method="post">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="playerUsername">Step 1:  Enter your <a href="https://swgoh.gg">swgoh.gg</a> username:</label>
                <input type="text" id="playerUsername" name="playerUsername" placeholder="Ex: primalpat" class="form-control" required />
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <label>&nbsp;</label>
                <a id="playerUsernameSubmit" class="btn btn-primary form-control">
                    Sync
                </a>
            </div>
        </div>
    </div>
</form>
<div id="squadDetailContainer" style="display: none;"></div>